### General settings ###

# Log level (All|Debug|Info|Warning|Error)
DBforBix.LogLevel=Info

# Log file name
DBforBix.LogFile=./logs/dbforbix.log

# Maximum log file size
DBforBix.LogFileSize=1MB

### Configuration of Connection pool ###

# Maximum number of active connection inside pool
Pool.MaxActive=10

# Login Timout
Pool.TimeOut=15

### Zabbix servers ###

# A list of Zabbix servers, increase the number to add more
ZabbixServer.1.Address=zabbixsrv
ZabbixServer.1.Port=10051

### Database servers ###


# Define your database connections
# Please note that possible database type are: DB2, ORACLE, MSSQL, MYSQL, PGSQL, ALLBASE, SYBASE, SQLANY;
# You can replace every "DB<Number>" in DB.DB<NUMBER>.property with the database name or any mnemonic string you like
# NOTE: you can specify DB.<DATABASE>.Instance=<INSTANCE NAME> this is an optional instance parameter. This parameter is used to replace %INSTANCE% parameters in item queries.

#DB.DB1.Type=pgsql
#DB.DB1.Name=PostgreSVR
#DB.DB1.Url=jdbc:postgresql://localhost:5432/
#DB.DB1.User=user
#DB.DB1.Password=passwd
#DB.DB1.MaxWait=10
#DB.DB1.MaxSize=10
#DB.DB1.MaxIdle=1
#DB.DB1.ItemFile=oracle

#DB.DB3.Type=mssql
#DB.DB3.Name=MSSQLSRV
#DB.DB3.Url=jdbc:jtds:sqlserver://localhost:3678/INSTANCENAME
#DB.DB3.User=user
#DB.DB3.Password=passwd
#DB.DB3.MaxWait=10
#DB.DB3.MaxSize=10
#DB.DB3.MaxIdle=1
#DB.DB3.ItemFile=mssql

#DB.DB4.Type=mysql
#DB.DB4.Name=MYSQLSrv
#DB.DB4.Url=jdbc:mysql://localhost/
#DB.DB4.User=user
#DB.DB4.Password=passwd
#DB.DB4.MaxWait=10
#DB.DB4.MaxSize=10
#DB.DB4.MaxIdle=1
#DB.DB4.ItemFile=mysql
